:ruby
.readings_filters{ data: { filter_controls: true, target: '#readings' } }
  %h2.readings_filters-heading Filter and Sort
  .readings_filters-content
    = text_filter(placeholder: 'Enter all or part of a title', attribute: 'data-title', label: 'Title')
    = range_filter(label: 'Year Published',
                   attribute: 'data-year-published',
                   min: oldest_year(collection: readings.values, date_method: :date_published),
                   max: newest_year(collection: readings.values, date_method: :date_published))
    = sort_filter(label: 'Order By',
                  attribute: 'reading-date-desc',
                  target: '#readings',
                  options: [['Finish Date (Newest First)', 'finish-date-desc'],
                            ['Finish Date (Oldest First)', 'finish-date-asc'],
                            ['Publish Date (Newest First)', 'publish-date-desc'],
                            ['Publish Date (Oldest First)', 'publish-date-asc'],
                            %w(Title sort-title-asc)])
