@import 'source/stylesheets/variables';

.readings_list {
  counter-reset: reading-list;
  margin: 0 20px;
  padding: 0 0 60px;

  @media only screen and (min-width: 50em) {
    margin-top: 24px;
  }
}

.readings_list-item {
  font-weight: normal;
  list-style-type: none;
  padding: 0;
  position: relative;

  &::after {
    background-color: $color_primary;
    bottom: -4px;
    content: '';
    display: block;
    height: 1px;
    left: 30px;
    margin: 2px 0;
    position: absolute;
    right: 0;
  }

  @media only screen and (min-width: 40.625em) {
    display: flex;
  }
}

.readings_list-item_title {
  align-items: baseline;
  display: flex;
  font-size: 18px;

  &::before {
    content: counter(reading-list) '. ';
    counter-increment: reading-list;
    font-size: 14px;
    max-width: 30px;
    min-width: 30px;
    padding-right: 5px;
    text-align: right;
    width: 30px;
  }


  @media only screen and (min-width: 40.625em) {
    flex-grow: 1;
    min-width: 0;
  }
}

.readings_list-item_author {
  @media only screen and (min-width: 40.625em) {
    display: block;
    font-size: 14px;
  }
}

.readings_list-item_divider {
  @media only screen and (min-width: 40.625em) {
    display: none;
  }
}

.readings_list-item_slug {
  color: $color_text_hint;
  font-family: $font_family_system;
  font-size: 14px;
  line-height: 20px;
  margin-left: 30px;
  text-rendering: optimizeLegibility;

  @media only screen and (min-width: 40.625em) {
    display: flex;
    flex-direction: column;
  }
}

.readings_list-item_pages {
  white-space: nowrap;

  @media only screen and (min-width: 40.625em) {
    display: block;
    font-size: 12px;
    order: 2;
    text-align: right;
  }
}
