%ol.authors_list
  - authors.each do |author|
    %li.authors_list-item{ data_for_author(author: author) }
      #{author_link(author: author, options: { class: 'authors_list-name' })} (#{author.reviews.length})
