---
title: Reviewed Authors
layout: :layout_columns
---
:ruby
  content_for(:title, 'Reviewed Authors')
  content_for(:inline_css, 'source/templates/authors/authors.scss')
  content_for(:javascript, javascript_include_tag('filters.js', async: :async))

- content_for :layout_column_1 do
  = partial('templates/authors/authors_header')
  = partial('templates/authors/authors_filters')

- content_for :layout_column_2 do
  .authors
    = partial('templates/authors/authors_list', locals: { authors: Booklog.reviews_by_author })

