@import 'source/stylesheets/variables';
@import 'source/layouts/layout_columns';
@import 'source/templates/authors/authors_header';
@import 'source/templates/authors/authors_filters';
@import 'source/templates/authors/authors_list';

.authors {
  padding: 20px;
}

.authors-heading {
  color: $color_accent;
  line-height: 30px;
  margin-top: 20px;
  padding: 0 20px;
}
