:ruby
  excerpt_for_review = lambda do |review|
    grade = grade_to_image_tag(
      grade: review.grade,
      options: {
        class: 'reviews_for_author_review_list-grade',
        width: '90px',
        height: '18px',
      },
    )

    first_paragraph(grade + ' ' + review.content)
  end

.reviews_for_author_review_list
  %ol.reviews_for_author_review_list-list
    - reviews.each do |review|
      %li.reviews_for_author_review_list-credit
        %h3
          %a.reviews_for_author_review_list-title{ href: href_for_review(review) }
            = review.title
        %a.reviews_for_author_review_list-cover_wrap{ href: href_for_review(review) }
          .reviews_for_author_review_list-cover{ data: { cover: review.cover } }
            %img.reviews_for_author_review_list-cover_placeholder{ src: review.cover_placeholder }
            %noscript
              %img.backdrop-noscript{ src: review.cover }
        .reviews_for_author_review_list-excerpt
          = excerpt_for_review.call(review)
